<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OnLinePrintService.ServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <OnLinePrintService.ServiceSettings>
            <setting name="Server" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>ADC</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>as400</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value>tank</value>
            </setting>
            <setting name="LineNumber" serializeAs="String">
                <value>325</value>
            </setting>
        </OnLinePrintService.ServiceSettings>
    </userSettings>
</configuration>